# ═══════════════════════════════════════════════════════
# ENTORNO
# ═══════════════════════════════════════════════════════
NODE_ENV=staging

# ═══════════════════════════════════════════════════════
# CONFIGURACIÓN MONGODB
# ═══════════════════════════════════════════════════════
MONGODB_URI="ENC:ead399361369e9bfe00efc292f5b4846:a85ff9f75a275d366ecc27a2f8f9b8b2add38678959f105ddfc6d4f41816d32069a38068800198a00cb9a610766bbe0a023761698fc3ac5ba342fd7abe44245b082f33051894614bb6c59165b7e615392800cf2e688d675ef498ef1582cdf8224b1a009e504b5d273c38f32d87603c1a"

# ═══════════════════════════════════════════════════════
# El resto de las variables viven en MongoDB Atlas.
# Usar `npm run sync:vercel` para actualizarlas.
# ═══════════════════════════════════════════════════════
